@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'normalize.css';

/* Color palette */
    :root {
        --fog: #d8e1f2;
        /* --dark_fog: #adb4c2; */
        --dark_fog: #979ea9;
        --light_fog: rgba(216, 225, 242,0.3)
        /* colors: https://maketintsandshades.com/#374129 */
                /* https://maketintsandshades.com/#d8e1f2 */
    }

/* Basic Design components */
    body{
        display:flex;
        flex-wrap: wrap;
        font-family: 'Work Sans', sans-serif;
        box-sizing: border-box;
        color: var(--dark_fog);
    }
/* Image and overlay text */
    .c1{
        background-image: url(images/Fog2.jpg);
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .leftImage {
        /* position: absolute; */
        z-index: -1;
    }
    .cloud{
        /* background-image: url(images/cloud.svg); */
        position: absolute;
        z-index: 2;
        opacity: 20%;
        height: 500px;
        width: 260px;
        max-width: 260px;
        filter: invert(92%) sepia(2%) saturate(2011%) hue-rotate(188deg) brightness(99%) contrast(92%);
    }

    .overlayText {
        color: var(--fog);
        text-transform: uppercase;
        z-index: 1; 
    }

/* Main text and form styling */
    .c2, .c5{
        padding: 1rem 2rem;
    }
    .c4{
        padding: 0 2rem .5rem;
    }
    .rightContainer{
        flex-direction: column;
    }
    .headerText{
        color: var(--light_green);
        color: var(--dark_fog);
    }
    .headerText, button{
        font-size: 1.125rem;
    }
  
    form{
        font-size: .875rem;
        display: flex;
        flex-direction: column;
    }
    .topPart{
        background-color: var(--light_fog);
        padding: 2rem;
    }
    input, label {
        display: flex;
        width: 100%;
    }
    input{
        border: 1px solid white;
        /* border: none; */
        border-radius: 3px;
        /* box-shadow: inset .25px .25px .25px .25px var(--dark_fog); */
        color: var(--dark_fog);
    }
    #error{
        padding: 1rem 2rem;
        font-style: italic;
    }
    small{
        visibility: hidden;
    }
    .success input {
        border: 1px solid var(--fog);
    }

    .error input {
        border: 2px solid var(--dark_fog);
    }
    .error small{
        visibility: visible;
    }

    .asterisk{
        font-style: bold;
    }
    button{
        border: none;
        color: var(--light_green);
        background-color: var(--fog);
        padding: .75rem 2rem;
        margin-top: 1rem;
        color: white;
    }
    
    a{
        color: var(--fog);
    }

  


/* Responsive Design components */
    .c1, .rightContainer{
        width: 100%;
    }
    /* Mobile Styles */
    @media only screen and (max-width: 750px) {
        .c1 {
            height: 40vh;
            width: 100vw;
            background-size:cover;
        }
        .cell{
            display: flex;
            flex-direction: column;
            padding: .5rem 0;
            gap: 5px;
        }
        .errorMessage{
            padding-top:5px;
        }
    }

    /* TabletStyles */
    @media only screen and (min-width: 751px) and (max-width: 960px) {
       /* body{
           box-sizing: border-box;
       } */
        .c1 {
            height: 40vh;
            width: 100vw;
            background-size:cover;
        }
       .rightContainer{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-between;
       }
       .headerText{
           width: 35vw;
           margin: 0;
           font-size: 1rem;
           /* padding: 0; */
       }
       .tabletRight{
        width: 55vw;   
        }
        /* .c2, .c5 {
            padding: 4%;
        } */

        
        .cell{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding-bottom: 1rem;
        }
        .row1, .row2, .row3{
            display: flex;
            font-size: 13px;
            flex-direction: row;
            align-items: end;
            gap: 8%;
            padding: .5rem 0;
        }
    }

    /* Desktop Styles */
    @media only screen and (min-width: 961px) {
        .c1{
            width: 55vw;
            height: 100vh;
            background-size:cover;
        }
        .rightContainer{
            width: 45vw;
        }
        .cell{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
        .row1, .row2, .row3{
            display: flex;
            flex-direction: row;
            gap: 8%;
            padding: .5rem 0;
        }
    }
